<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <title>Mad Libs</title>
    <style>
      body {
        background-color: #BFD7B5;
        font-family: skia;
        color: #413C58;
        font-size: 2em;
      }
      h1 {
        font-size: 3em;
        text-align: center;
        font-weight: bolder;
      }
      button {
        background: rgba(0,0,0,0.2);
        text-align: center;
        width: 250px;
        height: 250px;
        border-radius: 200%;
        border-color: #413C58;
        border-width: thick;
        display: inline-block;
        font-size: 2em;
        vertical-align: middle;
        color: #FFF;
        text-decoration: none
      }
      button:hover {
        color: #413C58;
        background-color: #FFA69E;
        font-weight: bold;
      }
      .button-style {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Fill in the blanks to write your story!</h1>
      <form id="formOne" action="/madlibs-story">
          <div class="form-group">
            <label for="person1">A name</label>
            <input name="person1" class="form-control" type="text">
          </div>
          <div class="form-group">
            <label for="person2">Another name</label>
            <input name="person2" class="form-control" type="text">
          </div>
          <div class="form-group">
            <label for="animal">An animal</label>
            <input name="animal" class="form-control" type="text">
          </div>
          <div class="form-group">
            <label for="exclaimation">An exclaimation</label>
            <input name="exclaimation" class="form-control" type="text">
          </div>
          <div class="form-group">
            <label for="verb">A past tense verb</label>
            <input name="verb" class="form-control" type="text">
          </div>
          <div class="form-group">
            <label for="noun">A noun</label>
            <input name="noun" class="form-control" type="text">
          </div>
          <div class="button-style">
            <button type="submit">Show me the story!</button>
          </div>
        </form>
    </div>
  </body>
</html>
