<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <title>Mad Libs</title>
  </head>
  <body>
    <h1>Fill in the blanks to write your story!</h1>
    <div>
      <form id="formOne" action="/madlibs-story">
          <div class="form-group">
            <label for="person1">A name</label>
            <input name="person1" class="form-control" type="text">
          </div>
          <div class="form-group">
            <label for="person2">Another name</label>
            <input name="person2" class="form-control" type="text">
          </div>
          <div class="form-group">
            <label for="animal">An animal</label>
            <input name="animal" class="form-control" type="text">
          </div>
          <div class="form-group">
            <label for="exclaimation">An exclaimation</label>
            <input name="exclaimation" class="form-control" type="text">
          </div>
          <div class="form-group">
            <label for="verb">A past tense verb</label>
            <input name="verb" class="form-control" type="text">
          </div>
          <div class="form-group">
            <label for="noun">A noun</label>
            <input name="noun" class="form-control" type="text">
          </div>
          <button type="submit" class="btn">Show me the story!</button>
        </form>
    </div>
  </body>
</html>
